.footerLinks:hover {
  color: rgb(216, 76, 31);
}

.HELP {
  grid-area: helps;
}

.SHOPPRODUCTS {
  grid-area: product;
}

.SHOPCOLLECTIONS {
  grid-area: collections;
}

.ABOUT {
  grid-area: about;
}

.lgContainer {
  grid-area: logo;
}

.footerGrid,
.bottomFootersecondary {
  font-size: 11px;
  font-weight: 550;
  letter-spacing: 1px;
}

.textSpacing {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

svg:hover {
  fill: rgb(216, 76, 31);
}

.logoGrid {
  grid-auto-flow: column;
  grid-gap: 20px;
}

@media only screen and (min-width: 1024px) {
  .footerGrid {
    padding: 30px 55px 20px 55px;
    grid-template-areas: "helps product collections about logo logo";
    line-height: 25px;
  }

  .logoGrid {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footerGrid {
    padding: 30px 20px 20px 20px;
    grid-template-areas:
      "logo logo logo logo"
      "helps product collections about";
  }

  .logoGrid {
    justify-content: left;
  }
}

@media only screen and (min-width: 768px) {
  .footerGrid {
    grid-gap: 15px;
  }

  .bottomFooter {
    width: 93%;
    margin: auto;
  }

  .bottomFootersecondary {
    padding: 1.5rem 0;
  }

  .blackContainer2 {
    border-top: 1px solid rgb(153, 153, 153);
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .mobFooter {
    padding: 30px 20px 20px 20px;
  }

  .bottomFooter,
  .textSpacing {
    padding: 10px;
    flex-direction: column;
  }

  .bottomFootersecondary {
    align-items: flex-start;
    padding: 10px 0 0 10px;
    row-gap: 10px;
  }

  .logoGrid {
    margin-bottom: 1.5rem;
  }
}

.blackContainer {
  background-color: rgb(34, 34, 34);
  color: rgb(153, 153, 153);
  font-family: "Lato", sans-serif;
}

.bottomFooter img {
  margin-right: 20px;
}

.footerTitles {
  padding: 7px 0 7px 0;
}

div.chakra-collapse {
  margin-top: -1rem;
}